<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Chatbot</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/index.css">
	<script src="/socket.io/socket.io.js"></script>
    <script src="/js/client.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://kit.fontawesome.com/b32d315d7f.js" crossorigin="anonymous"></script>
</head>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
<div class="container">
	<div class="row no-gutters">
	  <div class="col-md-4 border-right">
		<div class="settings-tray">
                <img class="profile-image" src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/filip.jpg" alt="Profile img">
		  <span class="settings-tray--right">
			<i class="fa-solid fa-arrows-spin"></i>
            <i class="fa-solid fa-message"></i>
			<button class="border-0 btnLogout"><i class="fa-solid fa-right-from-bracket"></i></button>
		  </span>
		</div>
		<div class="search-box">
		  <div class="input-wrapper">
			<i class="fa-solid fa-magnifying-glass"></i>
			<input id="search" placeholder="Search here" type="text">
		  </div>
		</div>
		<div class="friend-drawer friend-drawer--onhover" id="searchFriend">
			<img class="profile-image" src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/robocop.jpg" alt="">
			<div class="text d-flex align-items-center justify-content-between">
				<h6 id="userName"></h6>
				<button class="border-0 bg-white addFriend" value="<%= user._id %>"><i class="fa-solid fa-user-plus"></i></button>
			  </div>
		</div>
		<div id="onlineFriend"></div>
		<hr>
		
	  </div>
	  <div class="col-md-8">
		<div class="settings-tray">
			<div class="friend-drawer no-gutters friend-drawer--grey">
			<img class="profile-image" src="https://www.clarity-enhanced.net/wp-content/uploads/2020/06/robocop.jpg" alt="">
			<div class="text">
			  <h6>Robo Cop</h6>
			  <p class="text-muted">Layin' down the law since like before Christ...</p>
			</div>
			<span class="settings-tray--right">
              <i class="fa-solid fa-arrows-spin"></i>
              <i class="fa-solid fa-message"></i>
			  <i class="fa-solid fa-bars"></i>
			</span>
		  </div>
		</div>
		<div class="chat-panel">
		  <div class="row no-gutters friend">
			<div class="col-md-3">
			  <div class="chat-bubble chat-bubble--left">
			  </div>
			</div>
		  </div>
		  
		  <div class="row textInput">
			<div class="col-12">
			  <div class="chat-box-tray">
				<i class="fa-solid fa-face-grin-wide"></i>
				<input type="text" id="message" placeholder="Type your message here...">
				<i class="fa-solid fa-microphone"></i>
				<button class="border-0" id="sendMessage"><i class="fa-solid fa-paper-plane"></i></button>
			  </div>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </div>

<script type="text/javascript">

var receiverId

$('#searchFriend').hide()

$(".friend-drawer--onhover").on("click", function () {
  $(".chat-bubble").hide("slow").show("slow");
});

$('.btnLogout').click(() => {
    const text = confirm('Bạn có muốn đăng xuất ?')
    if(text == true){
        $.post('/logout', () => {
            location.reload();
        })
    } else {
        alert('you click cancel')
    }
})

$('#search').on('input', () => {
    $.get(`/search/${$('#search').val()}`, (data) => {
		var foreName = data.foreName
		receiverId = data.userid
		$('#userName').text(`${foreName}`)			
        $('#searchFriend').show()
		$('#sendMessage').val(receiverId)
	})
})

// $('.addFriend').click(() => {
// 		$.post('/addfriend',{
// 			senderId: $('.addFriend').val(),
// 			friendId: friendId
// 		})
// 	})

</script>
</body>
</html>