<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <!--  This file has been downloaded from bootdey.com @bootdey on twitter -->
    <!--  All snippets are MIT license http://bootdey.com/license -->
    <title>Chatbot - Đăng ký</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/register.css">
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css" integrity="sha256-3sPp8BkKUE7QyPSl6VfBByBroQbKxKG7tsusY2mhbVY=" crossorigin="anonymous" />
<section class="vh-100 gradient-custom">
	<div class="container py-5 h-100">
	  <div class="row justify-content-center align-items-center h-100">
		<div class="col-12 col-lg-9 col-xl-7">
		  <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
			<div class="card-body p-4 p-md-5">
			  <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Đăng Ký</h3>
			  <form action="/register" method="post">
  
				<div class="row">
				  <div class="col-md-6 mb-4">
  
					<div class="form-outline">
					  <input type="text" id="firstName" name="authentication[firstName]" class="form-control form-control-lg" required/>
					  <label class="form-label" for="firstName">Tên</label>
					</div>
  
				  </div>
				  <div class="col-md-6 mb-4">
  
					<div class="form-outline">
					  <input type="text" id="lastName" name="authentication[lastName]" class="form-control form-control-lg" required />
					  <label class="form-label" for="lastName">Họ</label>
					</div>
  
				  </div>
				</div>
  
				<div class="row">
				  <div class="col-md-6 mb-4 d-flex align-items-center">
  
					<div class="form-outline datepicker w-100">
					  <input type="date" name="authentication[birthday]" class="form-control form-control-lg" id="birthdayDate" required />
					  <label for="birthdayDate" class="form-label">Sinh nhật</label>
					</div>
  
				  </div>
				  <div class="col-md-6 mb-4">
  
					<h6 class="mb-2 pb-1">Giới tính </h6>
  
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" name="authentication[sex]" id="femaleGender"
						value="female" checked />
					  <label class="form-check-label" for="femaleGender">Nữ</label>
					</div>
  
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" name="authentication[sex]" id="maleGender"
						value="male" />
					  <label class="form-check-label" for="maleGender">Nam</label>
					</div>
  
					<div class="form-check form-check-inline">
					  <input class="form-check-input" type="radio" name="authentication[sex]" id="otherGender"
						value="other" />
					  <label class="form-check-label" for="otherGender">Other</label>
					</div>
  
				  </div>
				</div>
  
				<div class="row">
				  <div class="col-md-6 mb-4 pb-2">
  
					<div class="form-outline">
					  <input type="email" id="emailAddress" name="authentication[email]" class="form-control form-control-lg" required />
					  <label class="form-label" for="emailAddress">Email</label>
					</div>
  
				  </div>
				  <div class="col-md-6 mb-4 pb-2">
  
					<div class="form-outline">
					  <input type="tel" id="phoneNumber" name="authentication[phoneNumber]" class="form-control form-control-lg" required />
					  <label class="form-label" for="phoneNumber">Điện thoại</label>
					</div>
  
				  </div>
				</div>
  
				<div class="row">
				  <div class="col-md-6">
					<input type="password" id="password" name="authentication[password]" class="form-control form-control-lg">
					<label class="form-label" for="password">Mật khẩu</label>
				  </div>
				</div>

				<% if(error){%>
					<div class="row">
							<p class="text-danger ml-3"><%= error %></p>
					</div>
					<%}  %>
  
				<div class="mt-4 pt-2">
				  <button class="btn btn-primary btn-lg" type="submit">Xong</button>
				</div>
  
			  </form>
			</div>
		  </div>
		</div>
	  </div>
	</div>
  </section>

<script type="text/javascript">

</script>
</body>
</html>